/* CSS Custom Properties */
:root {
	--white: #ffffff;
	--tan-1: #fbf9f6;
	--tan-2: #e7e2dd;
	--tan-3: #e2d9d1;
	--tan-4: #d3c1ae;
	--orange: #f67f00;
	--text-light: #968c84;
	--text-dark: #615954;
	--blue-1: #003154;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--blue-1);
	/* padding: 2vmin; */
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	height: 100%;
}

.align-ctr {
	text-align: center;
}

.align-rt {
	text-align: right;
}

.smaller {
	font-size: smaller;
}

.flex-ctr-ctr {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-col {
	flex-direction: column;
}

.flex-j-end {
	justify-content: flex-end;
}

.scroll-y {
	overflow-y: scroll;
}

.section-heading {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--tan-1);
	color: var(--text-dark);
	border: 0.1vmin solid var(--tan-3);
	border-radius: 1vmin;
	padding: 0.6vmin;
	text-align: center;
	font-size: 2vmin;
}

h1 {
	color:#bde3ff;
}

.form-container {
	padding: 3vmin;
	margin: auto 20% auto 20%;
	background-color: #0d99ff;
	border-radius: 1vmin;
}

p.error-message {
	color: var(--orange);
	text-align: center;
}

form {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1.25vmin;
	color: var(--text-light);
}

label {
	font-size: 2vmin;
	display: flex;
	align-items: center;
	color: #001f35;
}

input {
	padding: 1vmin;
	font-size: 2vmin;
	border: 0.1vmin solid var(--tan-3);
	border-radius: 0.5vmin;
	color: var(--text-dark);
	background-image: none !important; /* prevent lastpass */
	outline: none;
}

input:focus {
	border-color: var(--orange);
}

.login-input {
	background-color: #bde3ff;
	color:#001f35;
}

button,
a.button {
	margin: 1vmin;
	padding: 1vmin;
	color: var(--white);
	background-color: #0d99ff;
	font-size: 2vmin;
	font-weight: bolder;
	text-decoration: none;
	text-align: center;
	border: none;
	/* border-radius: 50%; */
	outline: none;
	cursor: pointer;
}

.login-button {
	background-color: #f67f00;
}

button.btn-sm {
	font-size: 1.5vmin;
	padding: 0.6vmin 0.8vmin;
}

button.btn-xs {
	font-size: 1vmin;
	padding: 0.4vmin 0.5vmin;
}

button:disabled,
form:invalid button[type='submit'] {
	cursor: not-allowed;
	background-color: #a35501;
	color:#001423;
}

button[type='submit'] {
	grid-column: span 2;
	margin: 1vmin 0 0;
}

.topbar {
	position: fixed;
	width: 100%;
	min-height: 25px;
	max-height: 100px;
	/* top: 25px; */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #064d80;
	z-index: 1;
	left: 0;
	top:0;
	box-shadow: 0 5px 10px #001f35;
}
.main-logo {
	width: 250px;
}
.topbar__content {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	gap: 100px;
}

.search-box-container {
	display: flex;
	width: 400px;
	gap: 0px;
	background-color: #bde3ff;
	padding: 0.7em;
	border-radius: 4em;
	position: relative;
	height: 70px;
	top: 23px;
	box-shadow: 0 5px 10px #001f35;
}

.search-box-container > input {
	background-color: transparent;
	border: none;
	font-size: 1.4em;
}
.searched-dropdown {
	position: absolute;
	top: 64px;
	width: 100%;
	max-height: 500px;
	overflow-y: scroll;
	opacity: 90%;
}

.searched-list {
	margin: 0;
	padding: 0;
	border: 1px solid #003154;
	padding: 5px 10px;
	border-radius: 5px;
}
.searched-book {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	padding: 4px 8px;
	list-style: none;
	transition: all 0.4s ease-in-out;
	background-color: #f6b05a;
	color: white;
}
.searched-book:hover {
	background-color: #f6a949;
}

.navbar {
	position: fixed;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #064d80;
	box-shadow: 0 -5px 10px #001f35;
}

.navbar__container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navbar__content {
	height: 70px;
	width: 70px;
	gap: 25px;
	border-radius: 50%;
	box-shadow: 0 5px 10px #001f35;
}

#logout-button {
	display: flex;
	align-items: center;
	font-size: 1.2em;
	font-weight: 1000 !important;
	color: #f6a949;
	padding: 0;
	border-radius: 50%;
}

a {
	display: block;
}

a:visited,
a:link,
a:active {
	text-decoration: none !important;
	color: inherit;
}

a:hover {
	color: #0d99ff;
}

#logout-button:hover {
	color: #0d99ff;
	background-color: #f6a949;
	border-color: #0d99ff;
	transition: 0.35s;
}

.book-view-page-content {
	display: flex;
	justify-content: center;
	align-content: center;
}

.bv-container {
	padding: 5em;
	padding-top: 250px;
	display: grid;
	grid-template-rows: repeat(13, 150px);
	grid-template-columns: repeat(7, 1fr);
	color: #bde3ff;
}

.bv-container > * {
	text-shadow: 3px 3px 5px #001423
}

.bv-image {
	grid-area: 1 / 1 / 12 / 4;
	justify-content: stretch;
	align-content: stretch;
	object-fit: cover;
	width: 100%;
	max-height: 100%;
	box-shadow: 5px 5px 15px #001423;
}

.bv-title {
	grid-area: 1 / 5 / 2 / 8;
	font-size: 4em;
}

.bv-author {
	grid-area: 2 / 5 / 3 / 8;
	font-size: 2.5em;
}

.bv-pubdate {
	grid-area: 3 / 5 / 4 / 8;
	font-size: 1.7em;
}

.bv-cat {
	grid-area: 4 / 5 / 5 / 8;
	font-size: 1.7em;
}

.bv-pages {
	grid-area: 5 / 5 / 6 / 8;
	font-size: 1.7em;
}

.bv-isbn {
	grid-area: 6 / 5 / 7 / 8;
	font-size: 1.7em;
}

.bv-desc {
	grid-area: 7 / 5 / auto / 8;
	font-size: 1.5em;
}

.searched-book__actions {
	/* display: flex; */
	grid-area: 11 / 5 / 12 / 8;
	gap: 10px;
	align-items: center;
}

.searched-book__actions button {
	border: none;
	background-color: #f6a949;
	padding: 5px 10px;
	border-radius: 25px;
	cursor: pointer;
	color: black;
	box-shadow: 5px 5px 15px #001423;
}

.shelf {
	padding-top: 150px;
	max-width: 100vw;
	margin: 0 auto;
	text-align: center;
}

.shelf-title {
	font-size: 40px;
	width: 25vw;
	margin: 15px auto 50px auto;
	background-color: #bde3ff;
	color: #0d99ff;
	padding: 5px;
	border-radius: 50px;
	box-shadow: 5px 5px 10px #001f35;
}

.shelf-list {
	display: flex;
	flex-direction: column;

	/* align-items: center; */
	gap: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #bde3ff;
	color: #0d99ff;
	border-radius: 25px;
}
.shelf-list > li {
	padding: 5px 10px;
	border-radius: 2px solid gray;
	text-align: center;
	font-size: 24px;
}

.shelf-item {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 5px 10px;
	border-radius: 2px solid gray;
	text-align: center;
}

.shelf__main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
}

.shelf_section {
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: white;
}
.shelf__header {
	padding: 10px 20px;
	background-color: #064d80;
	width: 100%;
	box-shadow: 2px 2px 10px #001f35;
}
.shelf__header-chip {
	color: white;
	font-size: 1.5em;
	font-weight: 700;
	background-color: #0d99ff;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 2em;
	/* box-shadow: 1px 1px 5px #001f35; */
}
.shelf__body {
	padding: 0px 10%;
	background-color: #003154;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px 0 10px 0;
	/* overflow-x: hidden; */
	width: 100%;
}

.shelf__body-list {
	display: flex;
	gap: 10px;
	align-items: center;
	width: 88%;
	overflow-x: hidden;
	mask-image: linear-gradient(to right, black 70%, transparent);
}
.see-all .shelf__body-list {
	flex-direction: column;
}

.shelf_book_item {
	display: flex;
	align-items: center;
	gap: 15px;
	width: 100%;
}
.shelf__body-button {
	padding: 5px 10px;
	border-radius: 2em;
	font-size: 1.3em;
	box-shadow: 2px 2px 10px #001f35;
}
.shelf_book_cover {
	width: 128px;
	height: 200px;
	object-fit: cover;
}

.currently_reading {
	background-color: lightgreen;
	color: #064d80;
}
.want_to_read {
	background-color: #0d99ff;
	color: #f6a949;
}
.have_read {
	background-color: #064d80;
	color: #bde3ff;
}

#status-tag {
	display: flex;
	flex-direction: row-reverse;
}

